*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
    scroll-behavior: smooth;
}

/*
colors
button-blue: #0d333f
header-lightgreen: #0fd46c
text-button black - #393a3d
button green - #393a3d
*/

#feature-page{
    background: #eeeeee;
    height: 100%;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.first-header{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    background: #0fd46c;
    width: 100%;
    padding: 1rem 0;
}

.first-header h1{
    font-size: 2rem;
    font-weight: 900;
    color:#0d333f;
    letter-spacing: 1px;
}

.first-header button{
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: 600;
    color: #eeeeee;
    background-color: #0d333f;
    outline: none;
    border: none;
    border-radius: 3px;
}

.second-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.second-header img{
    width: 25%;
}

.navbar ul{
    display: flex;
    gap: 4rem;
}

.navbar ul li{
    list-style: none;
}

.navbar ul li a{
    text-decoration: none;
    font-size: 0.9rem;
    color: #393a3d;
    text-transform: capitalize;
    font-weight: 400;
}

.feature-container{
    padding: 3rem 8rem;
}

.feature-title{
    text-align: center;
    font-size: 1.7rem;
    font-weight: 700;
    text-transform: capitalize;
    color: #393a3d;
}

.feature-card{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-self: flex-start;
    flex-wrap: wrap;
}

.feature-column{
    flex-basis: 28%;
    padding: 3rem;
    border: 5px;
    cursor: pointer;
    border-radius: 5px;
}

.feature-row{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.icon{
    margin-bottom: 2rem;
}


.feature-text h1{
    text-align: center;
    font-size: 1.2rem;
    text-transform: capitalize;
    letter-spacing: 0.5px;
    color: #393a3d;
    margin-bottom: 10px;
}

.feature-text p{
    text-align: center;
    font: 0.5rem;
    font-weight: 300;
    color: #393a3d;
}
